body{
    background-color: lightgray;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

#container{
    font-size: 0;
    margin: 5px 0;
}

.flag{
    display: inline-block;
    margin: 5px;
    position: relative;
    width: 130px;
}

.flag-image{
    display:block;
    height: 55px;
    margin: auto;
}

.pennant{
    width: 100%;
}

.flag-count{
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    margin: 0;
    padding: 5px 0 5px 0;
    text-align: center;
}

.flag-name{
    display: none;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
    padding: 5px 0 5px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}